a {
    position: relative;
    text-decoration: none;

}

a::after{
    border-radius: .2em;
    border-top: .1em solid #c53030;
    content: "";
    position: absolute;
        right: 100%;
        left: 0;
        bottom: .04em;
    transition: right .4s ease-in-out;
}

a:hover {
    text-decoration: none;
}

a:hover::after{
    right: 0;
}